@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="padding-top:100px;">
    <h1>@ViewData["Title"]</h1>

    <p>Index deneme</p>
    <p>Index deneme</p>
    <p>Index deneme</p>
    <p>Index deneme</p>
</div>

