@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@ViewData["Title"]</h1>

<p>Index deneme</p>
<p>Index deneme</p>
<p>Index deneme</p>
<p>Index deneme</p>
